
@{
    ViewData["Title"] = "Home";
}
<style>
    .check-date {
        position: relative;
        margin-bottom: 15px;
    }

        .check-date label {
            font-size: 14px;
            color: #707079;
            display: block;
            margin-bottom: 10px;
        }

        .check-date input {
            width: 100%;
            height: 50px;
            border: 1px solid #ebebeb;
            border-radius: 2px;
            font-size: 16px;
            color: #19191a;
            text-transform: uppercase;
            font-weight: 500;
            padding-left: 20px;
        }

        .check-date i {
            color: #dfa974;
            position: absolute;
            right: 18px;
            bottom: 17px;
        }
</style>
<!-- ================ start banner area ================= -->
<section class="home-banner-area" id="home">
    <div class="container h-100">
        <div class="home-banner">
            <div class="text-center">
                <h4>See What a Difference a stay makes</h4>
                <h1>Luxury <em>is</em> personal</h1>
                <a class="button home-banner-btn" asp-action="Index" asp-controller="Properties">Book Now</a>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!-- ================ start banner form ================= -->
<form class="form-search form-search-position" asp-controller="Properties" asp-action="RoomAvailable" id = "bookingForm" method="get">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 gutters-19 check-date">
                <label>Check In:</label>
                <input type="date" name="dateCome" id= "checkIn" required/>              
            </div>
            <div class="col-lg-6 gutters-19 check-date">
                <label>Check Out:</label>
                <input type="date" name="dateGo" id= "checkOut" required />
            </div>
                <div class="col-lg-6 gutters-19 check-date">              
                    <div class="col-sm">
                        <div class="form-group">
                            <div class="form-select-custom">
                                <select name="" id="">
                                    <option value="" disabled selected>Number of People</option>
                                    @for(int k = 1;k <= 4;k++)
                                    {
                                        <option value="" >@k</option>
                                    }
                                </select>
                            </div>                         
                        </div>
                    </div>                    
                </div>
            <div class="col-lg-6 gutters-19" style="margin-top:20px">
                <div class="col-sm">
                    <div class="form-group">
                        <button class="button button-form">Check Avaibility</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
</form>
<!-- ================ end banner form ================= -->
<!-- ================ welcome section start ================= -->
<section class="welcome">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <div class="row no-gutters welcome-images">
                    <div class="col-sm-7">
                        <div class="card">
                            <img class="" src="~/TemplateLayout/Page/img/home/welcomeBanner1.png" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card">
                            <img class="" src="~/TemplateLayout/Page/img/home/welcomeBanner2.png" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <img class="" src="~/TemplateLayout/Page/img/home/welcomeBanner3.png" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="welcome-content">
                    <h2 class="mb-4"><span class="d-block">Welcome</span> to our residence</h2>
                    <p>Beginning blessed second a creepeth. Darkness wherein fish years good air whose after seed appear midst evenin, appear void give third bearing divide one so blessed moved firmament gathered </p>
                    <p>Beginning blessed second a creepeth. Darkness wherein fish years good air whose after seed appear midst evenin, appear void give third bearing divide one so blessed</p>
                    <a class="button button--active home-banner-btn mt-4" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ welcome section end ================= -->
<!-- ================ Explore section start ================= -->
<section class="section-margin">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
                <img src="~/TemplateLayout/Page/img/home/bed-icon.png" alt="">
            </div>
            <h2>Explore Our Rooms</h2>
        </div>

        <div class="row">
            @{
                int i = 0;
            }
            @foreach(var room in ViewBag.Rooms)
            {
                i++;
                string category = (room.CategoryID.ToString().Substring(0,room.CategoryID.ToString().Length -2));
                string price = string.Format("{0:N0} VND",room.Price);
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-explore">
                        <div class="card-explore__img">
                            <img class="card-img" src="/TemplateLayout/Page/img/room/room-b@(i).jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-explore__price">@price<sub>/ Per Night</sub></h3>
                            <h4 class="card-explore__title"><a href="#">@category</a></h4>
                            <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved blessed </p>                            
                            <a class="card-explore__link" href="#">Book Now <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            }           
        </div>
    </div>
</section>
<!-- ================ Explore section end ================= -->
<!-- ================ video section start ================= -->
<section class="video-area">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column text-center">
            <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=vParh5wE-tM">
                <span></span>
            </a>
            <h3>Seaplace</h3>
            <p>View four has said does men saw find dear shy talent</p>
        </div>
    </div>
</section>
<!-- ================ video section end ================= -->
<!-- ================ special section start ================= -->
<section class="section-padding bg-porcelain">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
                <img src="~/TemplateLayout/Page/img/home/bed-icon.png" alt="">
            </div>
            <h2>Special Facilities</h2>
        </div>
        <div class="special-img mb-30px">
            <img class="img-fluid" src="~/TemplateLayout/Page/img/home/special.png" alt="">
        </div>
        <div class="row">
            @foreach(var service in ViewBag.Services)
            {
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-special">
                        <div class="media align-items-center mb-1">
                            <span class="card-special__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h4 class="card-special__title">@service.ServiceName</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>@service.Description</p>
                        </div>
                    </div>
                </div>
            }           
        </div>
    </div>
</section>
<!-- ================ special section end ================= -->
<!-- ================ carousel section start ================= -->
<section class="section-margin">
    <div class="container">
        <div class="section-intro text-center pb-20px">
            <div class="section-intro__style">
                <img src="~/TemplateLayout/Page/img/home/bed-icon.png" alt="">
            </div>
            <h2>Our Guest Love Us</h2>
        </div>
        <div class="owl-carousel owl-theme testi-carousel">
            @{
                int j = 0;
            }
           @foreach(var rate in ViewBag.Rates)
            {
                j++;
                <div class="testi-carousel__item">
                    <div class="media">
                        <div class="testi-carousel__img">
                            <img src="~/TemplateLayout/Page/img/home/testimonial@(j).png" alt="">
                        </div>
                        <div class="media-body">
                            <p>@rate.Message</p>
                            <div class="testi-carousel__intro">
                                <h3>@rate.Username</h3>
                                <p>@rate.DateCreate</p>
                                <p>@rate.Point</p>
                            </div>
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</section>
<!-- ================ carousel section end ================= -->
<!-- ================ news section start ================= -->
<section class="section-margin">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
                <img src="~/TemplateLayout/Page/img/home/bed-icon.png" alt="">
            </div>
            <h2>News & Events</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="card card-news">
                    <div class="card-news__img">
                        <img class="card-img" src="~/TemplateLayout/Page/img/home/explore1.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-news__title"><a href="#">Hotel companies tipped the scales</a></h4>
                        <ul class="card-news__info">
                            <li><a href="#"><span class="news-icon"><i class="ti-notepad"></i></span> 20th Nov, 2018</a></li>
                            <li><a href="#"><span class="news-icon"><i class="ti-comment"></i></span> 03 Comments</a></li>
                        </ul>
                        <p>Not thoughts all exercise blessing Indulgence way everything joy alteration boisterous the attachment party we years to order</p>
                        <a class="card-news__link" href="#">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="card card-news">
                    <div class="card-news__img">
                        <img class="card-img" src="~/TemplateLayout/Page/img/home/explore2.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-news__title"><a href="#">Try your hand inaugural industry crossword</a></h4>
                        <ul class="card-news__info">
                            <li><a href="#"><span class="news-icon"><i class="ti-notepad"></i></span> 20th Nov, 2018</a></li>
                            <li><a href="#"><span class="news-icon"><i class="ti-comment"></i></span> 03 Comments</a></li>
                        </ul>
                        <p>Not thoughts all exercise blessing Indulgence way everything joy alteration boisterous the attachment party we years to order</p>
                        <a class="card-news__link" href="#">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="card card-news">
                    <div class="card-news__img">
                        <img class="card-img" src="~/TemplateLayout/Page/img/home/explore3.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-news__title"><a href="#">Hoteliers resolve to invest in guests</a></h4>
                        <ul class="card-news__info">
                            <li><a href="#"><span class="news-icon"><i class="ti-notepad"></i></span> 20th Nov, 2018</a></li>
                            <li><a href="#"><span class="news-icon"><i class="ti-comment"></i></span> 03 Comments</a></li>
                        </ul>
                        <p>Not thoughts all exercise blessing Indulgence way everything joy alteration boisterous the attachment party we years to order</p>
                        <a class="card-news__link" href="#">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkInInput = document.getElementById("checkIn");
        const checkOutInput = document.getElementById("checkOut");
        const form = document.getElementById("bookingForm");

        
        const today = new Date().toISOString().split("T")[0];
        checkInInput.setAttribute("min", today);

        checkInInput.addEventListener("change", function () {
            if (checkInInput.value < today) {
                alert("Check-in date is not validated");
                checkInInput.value = today;
            }

            
            checkOutInput.setAttribute("min", checkInInput.value);
        });

        checkOutInput.addEventListener("change", function () {
            if (checkOutInput.value < checkInInput.value) {
                alert("Check-out date must greater than Check-in date ");
                checkOutInput.value = "";
            }
        });

        form.addEventListener("submit", function (event) {
            if (checkOutInput.value < checkInInput.value) {
                alert("Check-out date must greater than Check-in date");
                event.preventDefault(); // Ngăn form submit nếu có lỗi
            }
        });
    });
</script>
