@model FirstProjectNET.Models.ViewModel.PropertiesViewModel
@{
    ViewData["Title"] = "Available Rooms";
}
<section class="contact-banner-area" id="contact">
    <div class="container h-100">
        <div class="contact-banner">
            <div class="text-center">
                <h1>Accomodation</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action ="Index" asp-controller="Home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Rooms</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
                <img src="~/TemplateLayout/Page/img/home/bed-icon.png" alt="">
            </div>
            <h2>Rooms Available</h2>
        </div>
        
        <div class="row pb-4">
            @{
                int i = 0;
            }
            @foreach (var room in Model.RoomAvailableViewModels)
            {
                i++;
                
                string price = string.Format("{0:N0} VND", room.Category.Price);
                int capacity = int.Parse(room.Category.CategoryID.ToString().Substring(room.Category.CategoryID.ToString().Length - 2)) + 1;
               

                <div class="col-md-6 col-xl-4 mb-5">
                    <div class="card card-explore">
                        <div class="card-explore__img">
                            <img class="card-img" src="@room.ImageUrl.FirstOrDefault()" alt="Room Image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-explore__price">@price<sub>/ Per Night</sub></h3>
                            <h4 class="card-explore__title"><a href="#">@room.Category.TypeName</a></h4>                            
                            <h4 class="card-explore__title">@room.RoomID</h4>
                            <a class="card-explore__link" asp-action ="Index" asp-controller="HomeBooking"
                            asp-route-categoryId="@room.Category.CategoryID"
                            asp-route-roomId ="@room.RoomID" asp-route-dateCome ="@Model.DateCome"
                            asp-route-dateGo="@Model.DateGo" asp-route-numPeople="@Model.NumberPeople">Book Now <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>      
    </div>
</section>