@model FirstProjectNET.Models.Customer
<div class="card">
    <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Room Information</h2>
    </div>
    <div class="card-body">
        <div class="mt-4">
            <h4>Avarta</h4>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <img src="~/img/20190603_170950-scaled.jpg" alt="Avatar" class="img-fluid rounded avartar-image" />
                </div>
            </div>
        </div>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row" class="text-end">CustomerID:</th>
                    <td>@Html.DisplayFor(model => model.CustomerID)</td>
                </tr>
                <tr>
                    <th scope="row" class="text-end">Customer Name:</th>
                    <td>@Html.DisplayFor(model => model.FirstName) + " " + @Html.DisplayFor(model => model.FirstName)</td>
                </tr>

                <tr>
                    <th scope="row" class="text-end">Email</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>

                <tr>
                    <th scope="row" class="text-end">Phone:</th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <th scope="row" class="text-end">Address:</th>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>

                <tr>
                    <th scope="row" class="text-end">Membership:</th>
                    <td>@Html.DisplayFor(model => model.Membership)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-end">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-warning me-2" })
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Rooms")'">Back to List</button>
    </div>
</div>

<style>
    .avatar-image {
        width: 350px;
        height: 250px;
        object-fit: cover;
    }
</style>